.App {
  text-align: center;
  position: relative;
}

.App > .score {
  display: none;
}

@media screen and (max-height: 300px){
	.App > .score {
    display: block;
		position: absolute;
    padding: 5px;
		top: 5px;
		right: 5px;
		font-size: 10px;
		text-align: right;
    color: #fff;
    border-radius: 2px;
    background-color: rgba(35, 69, 19, 0.81);
	}
}
