.App {
  text-align: center;
  position: relative;
}

.App > .score {
  display: none;
}

@media screen and (max-height: 300px){
	.App > .score {
    display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 10px;
		text-align: right;
	}
}
