body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./Leaves-Background-Wallpaper.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}