body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./Leaves-Background-Wallpaper.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

.container {
	padding-right: 150px;
	padding-left: 150px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.leaf {
	position: relative;
	padding: 2px;
	margin: 5px;
	border: 1px solid #000;
	box-shadow: 2px 2px 5px rgba(0,0,0, .7);
	margin: 5px 25px;
	cursor: pointer;
	min-width: 155px;
	min-height: 155px;
	border-radius: .25rem;
}

.leaf:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 10px rgba(0,0,0,.7);
}

.leaf img {
	width: 150px;
	height: 150px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.text-danger {
	animation: text_blink 1.5s;
}

.shake {
    animation: shake 500ms;
}

@keyframes text_blink {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes shake {
    0%, 25%, 50%, 75% { transform: translate(10px) }
    12.5%, 37.5%, 62.5%, 87.5% { transform: translate(-10px) }
}