.container {
	padding-right: 150px;
	padding-left: 150px;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.shake {
    animation: shake 500ms;
}

@keyframes shake {
    0%, 25%, 50%, 75% { transform: translate(10px) }
    12.5%, 37.5%, 62.5%, 87.5% { transform: translate(-10px) }
}

@media screen and (max-width: 768px){
	.container {
		padding: 0 10px;
		max-width: 80%;
		margin: 35px auto;
	}
}


@media screen and (max-width: 576px){
	.container {
		padding: 0 30px;
		max-width: 540px;
		margin: 0 auto;
	}
}

@media screen and (max-height: 300px){
	.container {
		padding: 0 10px;
		max-width: 90%;
		margin: 0 auto;
	}
}
