.App-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0, 194, 0, 1);
}

.App-footer a {
  color: #fff;
  text-decoration: none;
  line-height: 2rem;
}

@media screen and (max-width: 768px){
  .App-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px 5px;
  }
}

@media screen and (max-width: 576px){
	.App-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
  }

  .App-footer .brand-link {
    display: none;
  }

  .App-footer .footer-link {
    width: 100%;
  }
}
