.App-header {
	background-color: rgba(0, 194, 0, 1);
	color: white;
	box-shadow: 0 0 25px rgba(0,0,0,.7);
	opacity: .8;
}

.App-header a {
	color: #fff;
	text-decoration: none;
	line-height: 2rem;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

.text-danger {
	animation: text_blink 1.5s;
}

.text-winner {
	transition: all 500ms;
	animation: rainbow 3s ease;
}

.navbar span {
	position: relative;
}

.navbar span.increase-score {
	animation: add_to_score 3s .625;
}

@keyframes text_blink {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes add_to_score {
	0% {
		top: 0;
		left: 0;
	}

	30% {
		top: 20px;
		left: 20px;
		font-size: 1rem;
	}

	80% {
		top: -40px;
		left: -50px;
		font-size: 5px;
	}
}

@keyframes rainbow {
	0%{color: red;}
	30%{color: blue;}
	40%{color: yellow;}
	50%{color: green;}
	60%{color: purple;}
	67%{color: white;}
}